@import "global.scss";

.nav {
  background: #fefefe;
  position: fixed;
  width: 45%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  border-top-right-radius: 1em;
  border: solid 1px #adacac;

  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav_toggle {
  background: transparent;
  border: none;
  align-self: flex-start;
  width: 3em;
  height: fit-content;
  padding: 0.5em;
  cursor: pointer;
  z-index: 1000;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 45%;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.nav__item {
  width: 100%;
  height: 2.7em;
  border-bottom: solid 1px #adacac;
  padding-bottom: 1em;
  text-align: center;
}

.nav__link:hover,
.nav__link:focus,
.carrito:hover,
.carrito:focus,
.nav--toggle:hover,
.nav--toggle:focus {
  color: #bfd63c;
  outline: unset;
}

.hamburger {
  background: transparent;
  position: fixed;
  border: unset;
  display: block;
  transition: transform 250ms ease-in-out;
}

.nav-open .nav {
  transform: translateX(0);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: var(--clr-light);
}

h1 {
  font-weight: var(--fw-regular);
  background: var(--clr-light);
  padding: 0.5em;
  align-self: center;
  font-size: var(--fs-h1);
  margin: 0 auto;
}

.carrito {
  border: none;
  background: transparent;
  width: 3em;
  height: fit-content;
  align-self: flex-start;
  padding: 0.5em 1em;
  cursor: pointer;
  position: fixed;
  left: 92%;
}
